<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Item</title>
</head>
<body>

<p>Items details</p>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Item name</th>
        <th>Item amount</th>
        <th>Iten price</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${id}">10</td>
        <td>Milka table</td>
        <td>6</td>
        <td>1.09</td>
        <td>description</td>
    </tr>
    </tbody>
</table>


</body>
</html>