<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Goods</title>
</head>
<body>

<p>List of Categories</p>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Category</th>
            <th>Subctegory</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>10</td>
            <td>Food</td>
            <td>Chocolate</td>
            <td><a href="#">link</a></td>
        </tr>
    </tbody>
</table>

</body>
</html>