<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Goods</title>
</head>
<body>

<h1>List of Categories</h1>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="cat: ${categories}">
            <td th:text="${cat.id}">10</td>
            <td th:text="${cat.categoryName}">Food</td>
            <td><a href="/subcategory">subcategiries</a></td>
        </tr>
    </tbody>
</table>

</body>
</html>